.h1{
    color:black;
    text-align: center;
}
.he{
    margin: auto;
    margin-left: auto;
    padding-left: 300px;
    padding-right: 300px;
    border: 1px solid black;
    background-color:gray;

}
.hee{
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid black;
    background-color: green;

}